.suggestion-dropdown {
  color: black;
  background-color: white;
  margin-right: 1rem;
  flex: 1;
  max-width: 300px;
  position: absolute;
  top: 2.2rem;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.suggestion[data-highlighted='true'] {
  background-color: #30acf6;
}

.suggestion {
  padding: 0.5rem;
  list-style-type: none;
  border-radius: 5px;
}

.city-input {
  margin-right: 1rem;
  flex: 1;
  max-width: 300px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0.6rem;
  font-size: 1rem;
}
