.organization-dashboard-container {
  margin-top: 2rem;  
  font-family: 'Arial', sans-serif;
  background-color: #141414;
  color: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  h1 {
    margin-bottom: 1.5rem;
    color: #fff; 
    font-size: 2.5rem;
    font-weight: bold;
  }

  .dashboard-content {
    display: flex;
    width: 100%;
    
    .left-column {
      flex: 1;
      padding-right: 1rem;
      border-right: 2px solid #ccc;
      overflow-y: auto;

      h3 {
        border-bottom: 2px solid #e50914;
        padding-bottom: 10px;
        margin-bottom: 20px;
      }

      ul {
        list-style: none;

        li {
          background-color: #252525; 
          padding: 1rem;
          margin-bottom: 1rem;
          border-radius: 5px; 
          transition: transform 0.3s;
          display: flex; 
          justify-content: space-between;
          align-items: center;

          &:hover {
            transform: scale(1.05);
          }
        }

        button {

          padding: 0.4rem 0.8rem;
          font-size: 0.9rem; 
          border-radius: 9px;

          
          margin-left: 1rem;
          // padding: 0.5rem 1rem;
          border: none;
          // border-radius: 0.25rem;
          // font-size: 1rem;
          cursor: pointer;
          transition: background-color 0.3s ease;

          // Approve button style
          &:nth-child(1) {
              background-color: #4CAF50; 
              color: white;

              &:hover {
                  background-color: #45a049; 
              }
          }

          // Decline button style
          &:nth-child(2) {
            // background-color: #f44336; 
            background: linear-gradient(to bottom, #e50914, #db0200);
            color: white;

            &:hover {
                background-color: #da190b; 
            }
          }
        }
      }
    }
    
    
    .right-column {
      flex: 1;
      padding-left: 1rem;

      h3 {
        border-bottom: 2px solid #e50914;
        padding-bottom: 10px;
        margin-bottom: 20px;
      }

      p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
      
      button {
        margin-top: 1rem;
        padding: 0.4rem 0.8rem;
        font-size: 0.9rem; 
        cursor: pointer;
        border: none;
        border-radius: 4px;
        // background: linear-gradient(to bottom, #e50914, #db0200);
        background-color: #2196F3;
        // background-color:  #FFD700;
        color: #fff;
        transition: background-color 0.3s ease;

        &:hover {
          background: linear-gradient(to bottom, #db0200, #b50914);
          // background-color:  #FFD700;
        }
      }
    }
  }

@media (max-width: 992px) {

    .dashboard-content {
        flex-direction: column;

        .left-column,
        .right-column {
            padding: 1rem 0;
            border-right: none;
        }
    }
}

@media (max-width: 768px) {
    padding: 1rem;

    h1 {
        font-size: 2rem;
    }

    .dashboard-content .left-column,
    .dashboard-content .right-column {
        h3 {
            font-size: 1.5rem;
        }

        button {
            padding: 0.3rem 0.6rem;
            font-size: 0.8rem;
        }
    }
}

@media (max-width: 576px) {
    .dashboard-content .left-column ul li button {
        padding: 0.2rem 0.5rem;
        font-size: 0.7rem;
    }
}
}


//just in case team want to change the colors
// Blue (#2196F3) for trust and confidence
// White (#FFFFFF) for purity and new beginnings
// Green (#0ECB3A) for hope and growth
// background-color:  #FFD700;
// background-color: #FFC300;