$primary-color: #37b3fe;
$secondary-color: #3c8bc9;
$default-padding: 10px;
$netflix-red: #E50914;

.home-header {
  .navbar-container {
    width: 100%;
  }
}

.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  padding: 0 $default-padding;

  .media-side {
    flex: 1;
    padding: $default-padding;

    .refugee-image-container {
      width: 20rem;
      height: 20rem;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden; 
  }

    .refugees-img {
      max-width: 20rem;
      height: auto;
      display: block;
      margin-top: -20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      margin-right: -4rem;
      margin-left: 10rem;
    }
  }

  .text-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

    .title-container {
      margin-bottom: 20px;

      h2 {
        color: $primary-color;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }

    p {
      font-size: 1.1rem;
      line-height: 1.6;
      color: rgba(0, 0, 0, 0.7);
      text-align: justify;
      max-width: 80%;
      font-size: 1.1rem;
      color: #555;
    }
  }

  .play-video, .hide-video {
    margin-top: 15px;
    background-color: $netflix-red;
    color: #FFFFFF;
    border: none;
    padding: 12px 24px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #cc0000;
    }
  }
}

@media (max-width: 768px) {
  .content-section {
    flex-direction: column;

    .media-side, .text-side {
      width: 100%;
    }
  }
}

