// .container-with-background {
//   background-image: url('../../images/refugees.png');
//   background-size: cover;
//   background-repeat: no-repeat;
//   height: 400px;
// }

$primary-color: #37b3fe;
$secondary-color: #3c8bc9;
$default-padding: 10px;
$netflix-red: #E50914;

.content-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  padding: 0 $default-padding;

  .media-side {
    flex: 1;
    padding: $default-padding;

    img.refugees-img {
      max-width: 60rem;
      height: auto;
      display: block;
      margin-top: -20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      margin-right: -4rem;
      margin-left: 10rem
    }
  }

  .text-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

    .title-container {
      margin-bottom: 20px;

      h2 {
        color: $primary-color;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }

    p {
      font-size: 1.1rem;
      line-height: 1.6;
      color: rgba(0, 0, 0, 0.7);
      line-height: 1.5; 
      text-align: justify; 
      max-width: 80%; 
      font-size: 1.1rem;
      color: #555;
    }

    button.play-video {
      background-color: $netflix-red;
      color: #FFFFFF;
      border: none;
      padding: 12px 24px;
      font-size: 1.2rem;
      font-weight: bold;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($netflix-red, 10%);
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .media-side,
    .text-side {
      width: 100%;
    }
  }
}