@import '../../index.scss';

.request-card {
  padding: 1.2rem;
  border-radius: $defaultRadius;
  margin-top: 0.2rem;
  margin-right: 1rem;
  background-color: $offWhite;
  color: $darkBlue;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.3s;
  
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
}

.org {
  cursor: default;
}

.card-text {
  text-transform: capitalize;
  margin: 5px; 

  &.type {
    font-weight: 700;
    border-bottom: 2px solid $darkBlue;
    display: inline-block;
  }

  &.org {
    font-weight: 700;
    font-size: 1.2em;
  }

  &.description {
    text-transform: none;
    font-size: 1rem;
  }
}
