@import '../../index.scss';

* {
  transition: all 0.3s;
}

.provide-aid-page {
  font-family: 'Arial', sans-serif;
  background-color: #ebf4fb;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.content-section {
  height: 80vh;
  padding: 2rem;
  padding-top: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px ,1fr));
  gap: 2rem;
}

.search-section,
.organization-display {
  padding: 1rem;
  background-color: $secondaryBlue;
  border-radius: $defaultRadius;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.welcome-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: $defaultRadius;

  img {
    width: 100%;
  }
}

.organization-display {
  p {
    color: #eaeaea;
    margin: 10px;
  }
}

@media (max-width: 768px) {
  .search-section {
    order: 2;
  }

  .welcome-image-container {
    max-height: 1fr;
  }
}