@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.paragraph {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.nav-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #30acf6;
  padding: .25rem;
}

.navbar-logo {
  margin-right: 2rem;
  
  img {
    width: 4rem; 
    height: auto;
    margin-right: 0.5rem;
  }
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  // padding-left: 0.5rem;
  cursor: pointer;
  font-family: Open Sans;
  margin-right: 1rem; 
}

.active {
  text-decoration: underline .2rem;
}
